@import "variables";


* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

header {
  .nav-link.active {
    background-color: black;
  }
  .nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #d7e0e9;
  }
  nav {
    height: 5rem;
    position: sticky;
    top: 0%;
    font-size: 2rem;
  }
}

.mainIndex {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  .iconoFecha {
    width: 3rem;
    height: 2rem;
  }
  .cartas {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .row {
    height: 100%;
  }

  .cartaPlanta {
    width: 90%;
    height: 40.1rem;
  }
}

//////////////////////////////////////////////////

.mainShop {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;

  .item1 {
    border: 0.1px solid blacaliceblue;
    height: 30rem;
    width: 60rem;
    background-color: $color-Contact;
    border-radius: 20px;
    box-shadow: 2px 2px 12px;
  }
  .arriba {
    text-align: center;
    height: 20%;
  }
  .arriba h3 {
    font-size: 3rem;
  }
  .abajo {
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .derecha {
    width: 70%;
    height: 100%;
  }
  .derecha img {
    width: 90%;
    height: 90%;
  }
  .izquierda {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: flex-end;
  }
  .descripcion {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .descripcion button {
    margin-left: 60px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .descripcion img {
    margin: 2rem;
    width: 2rem;
    display: inline;
  }
  .descripcion p {
    display: inline;
  }
}

////////////////////////////////////////////

.mainAbout {
  .padreContenedor {
    display: grid;
    grid-template-areas:
      "imagenempresa imagenempresa"
      "bitcoin texto";
  }
  .imagenEmpresa {
    grid-area: imagenempresa;
  }
  .imagenEmpresa img {
    width: 100%;
    height: 70rem;
  }
  .textoAbout {
    grid-area: texto;
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    padding: 7rem;
  }
  .bitcoin {
    grid-area: bitcoin;
  }
  .bitcoin img {
    border: 3px solid transparent;
    border-radius: 30px;
    margin-top: 1rem;
  }
}

/////////////////////////////////////////////////

.mainContact {
  color: #36a0ff;
  font-size: 27px;
  padding: 10px;

  .row {
    width: 100%;
  }
  .bigicon {
    font-size: 35px;
    color: #36a0ff;
  }
  .container {
    width: 70rem;
    height: 50rem;
  }
  .form-group {
    padding: 1rem;
  }
  .iconosForm {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
  }
  .nombre {
    display: flex;
  }
}

////////////////////////////////////////////////////////

.mainNews {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10rem;
  column-gap: 10rem;

  .imagenesNews {
    width: 100%;
    height: 100%;
  }
  
  .fila1 {
    margin-top: 12rem;
  }

  .fila2 {
    margin-top: 12rem;
  }

  .fila3 {
    margin-top: 12rem;
  }
  .card-body:hover {
   background-color: #2CB5EF;
   position: relative;
  }
  .enlace {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  }
}

///////////////////////////////////////////////////////////

footer {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;

  p {
    color: black;
    font-size: 2rem;
  }
  img {
    width: 8rem;
    height: 3rem;
    padding-left: 5rem;
  }
  li {
    display: inline;
  }
}
